.show {
    /* opacity: 1; /*透明级别
    transition: all 1s ease-in;  */
    animation: show-item 2s ease-in forwards;/*最后一帧时保存效果*/
}
.hide {
    animation: hide-item 2s ease-in forwards; /*最后一帧时保存效果*/
}
@keyframes show-item {
    0% {
        opacity: 0;
        color: red;
    }

    50% {
        opacity: 0.5;
        color: green;
    }

    100% {
        opacity: 1;
        color: blue;
    }
}
@keyframes hide-item {
    0% {
        opacity: 1;
        color: red;
    }
    50% {
        opacity: 0.5;
        color: green;
    }
    100% {
        opacity: 0;
        color: blue;
    }
}